<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post">
    Név:<br>
    <input type="text" name="nev"><br>
    Méret:<br>
    <input type="number" name="meret"><br>
    Ár: <br>
    <input type="number" name="ar"><br>
    <input type="submit" value="OK">
  </form>
</body>
</html>
